<html ng-app>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="viewer">
            <textarea v-model="input" rows="10" cols="30" ></textarea><br/>
            <h3>{{ W }}x{{ H }} with {{ N }} players, {{ loops.length }} loops, score : {{ score }}</h3>
            <div v-for="(loop, i) in loops" >
                <hr/>
                {{ i > 0 ? loops[i - 1].output : "?" }} ==>
                {{ loop.s }}
                {{ loop.pos }}
            </div>
        </div>
        <script src="viewer.js"></script>
    </body>
</html>