<html ng-app>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app">
            <div class="inputs">
                <textarea v-model="input" rows="10" cols="38" ></textarea><br />
                <textarea v-model="inputLab" rows="30" cols="38" ></textarea>
            </div>
            <div v-if="loops.length > 0">
                <div class="settings" >
                    <h3>{{ w }}x{{ h }} with {{ n }} players, {{ loops.length }} loops, score : {{ score }}</h3>
                    <input type="range" v-model="currentLoop" min="0" :max="loops.length - 1" step="1" /> {{ (+currentLoop + 1) }} / {{ loops.length }} <br />
                    <h1>{{ previousChoice }}</h1>
<pre>{{ loop.s[3] }}
{{ loop.s[0] }}  {{ loop.s[2] }}
{{ loop.s[1] }}</pre>
                    {{ loop.pos }}
                </div>
                <draw-loop :obj="getObj(loop)" :last-change="lastChange" :lab="lab" ></draw-loop>
            </div>
        </div>
        <script src="loopViewer.js"></script>
        <script src="app.js"></script>
    </body>
</html>