.container{
    position: relative;
    border-radius: 25%;
    float: left;
}

div.inputs {
    float: left;
    width: 300px;
    height: 100vh;
}

div.settings{
    float: left;
    width: 390px;
    height: 100vh;
    text-align: center;
}

.player, .empty{
    width:20px;
    height:20px;
    position:absolute;
}

.empty {
    background: white;
    border: solid 1px #333;
}

input[type=range] {
    width: 300px;
}

pre {
    font-size: 20px;
}